@font-face {
  font-family: 'Orbitron';
  src: url(./Fonts/Orbitron.otf);
}

@font-face {
  font-family: 'Unibody';
  src: url(./Fonts/Unibody.ttf);
}

@font-face {
  font-family: 'Reey';
  src: url(./Fonts/Reey-Regular.otf);
}

* {
  margin: 0;
}

html,
body,
#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(./images/bricks-wall.png);
  background-origin: border-box;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#root {
  background: rgb(14, 14, 14);
  background: linear-gradient(
    0deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(14, 14, 14, 0) 20%,
    rgba(14, 14, 14, 0) 80%,
    rgba(14, 14, 14, 1) 100%
  );
}

html {
  --color-light: #fafafa;
  --color-dark: #0e0e0e;
  --color-dark-soft: #333333;/*#333333;*/
}
